In [10]:
from sqlalchemy import create_engine
import pandas as pd
dbname   = 'python'
user     = 'postgres'
password = '0415Petrol'
host     = 'localhost'
port     = '5432' 

conexao_str = f'postgresql://{user}:{password}@{host}:{port}/{dbname}'
engine = create_engine(conexao_str)

query = """

select
id
,dt_ocorrencia
,uf
,regiao
,classificacao_da_ocorrencia
from public.anac_mapeamento

"""
df=pd.read_sql_query(query,engine)
df.head(5)

     id dt_ocorrencia  uf        regiao classificacao_da_ocorrencia
0  7762    2018-03-21  SP       Sudeste                   Incidente
1  7759    2018-03-14  MG       Sudeste                    Acidente
2  7758    2018-01-26  GO  Centro-Oeste                    Acidente
3  7758    2018-01-26  GO  Centro-Oeste                    Acidente
4  7757    2018-03-18  RS           Sul             Incidente Grave

In [11]:
#JSON
pasta_destino_json = r"C:\curso-eng-dados\Python-SGBDS\Arquivos\Destino\Anac.json"
df.to_json(pasta_destino_json,orient="index")
#orient       = orientação de formatação
#lines = true = separados por quebras de linhas
#tipode de orientação = records,index,columns,bvalues,tables

In [6]:
#Excel
pasta_destino_excel = r"C:\curso-eng-dados\Python-SGBDS\Arquivos\Destino\Anac.xlsx"
df.to_excel(pasta_destino_excel, index = False, sheet_name="Base")
#sheet_name = guia de planilha
#index = indide do python

In [7]:
#csv
pasta_destino_csv = r"C:\curso-eng-dados\Python-SGBDS\Arquivos\Destino\Anac.csv"
df.to_csv(pasta_destino_csv,sep=',')

#sep = separador

In [8]:
#define o caminho do arquivo parquet
# !pip install pyarrow
# !pip install fastparquet

pasta_destino_parquet = r"C:\curso-eng-dados\Python-SGBDS\Arquivos\Destino\Anac.parquet"
# salva o dataframe em um arquivo parquet
df.to_parquet(pasta_destino_parquet, index=False,engine='pyarrow')

In [9]:
# especifica as colunas para particionamento
pasta_destino_particionado = r"C:\curso-eng-dados\Python-SGBDS\Arquivos\Destino\Anac_particionado.parquet"
colunas_particionamento = ['regiao','uf']
# salva o dataframe em arquivo parquet particionado
df.to_parquet(pasta_destino_particionado,index=False,
              partition_cols=colunas_particionamento,
              engine='pyarrow')