Conexão Básica - DB na mesma pasta do projeto

In [4]:
import sqlite3
con = sqlite3.connect("tutorial.db")

cursor = con.cursor()

#cursor.execute("CREATE TABLE produto (id,Nome,valor)") # cria tabela
cursor.execute("insert into produto (Id,Nome,valor) VALUES (1,'Tenis',203)")

con.commit()
con.close()

In [5]:
import sqlite3
import pandas as pd
con = sqlite3.connect("tutorial.db")

cursor = con.cursor()

query = """ select * from  produto  """


df = pd.read_sql(query,con)

con.close()
df.head()

   id   Nome  valor
0   1  Tenis    203

In [8]:
import sqlite3
con = sqlite3.connect(r"C:\curso-eng-dados\Python-SGBDS\3.SQLite\Banco de dados\teste.db")

cursor = con.cursor()

cursor.execute("CREATE TABLE produto2 (id,Nome,valor)") # cria tabela
cursor.execute("insert into produto2 (Id,Nome,valor) VALUES (1,'Tenis',203)")

con.commit()
con.close()

In [10]:
#Ver dados em DF pasta externa
import sqlite3
import pandas as pd

caminho_db = r"C:\curso-eng-dados\Python-SGBDS\3.SQLite\Banco de dados\teste.db"
con2 = sqlite3.connect(caminho_db)

cursor = con2.cursor()
query2 = """ select * from  produto2  """

df2 = pd.read_sql(query2,con2)

con2.close()
df2.head()

   id   Nome  valor
0   1  Tenis    203